<h1>Home Seite</h1>
<br>
<p>Neuer Post</p>
<ul>
	<li>Film</li>
	<li>Bewertung</li>
	<li>Datum</li>
	<li>Kommentar</li>
</ul>
<br>
<p>Vorheriger Post 1</p>
<p>Vorheriger Post 2</p>
<p>Vorheriger Post 3</p>
<p>Vorheriger Post 4</p>